TZ=Asia/Shanghai
NODE_ENV=production
#DEBUG=*rest
#MONGODB_URL=mongodb://127.0.0.1:27017/gateway

HTTPS_ENABLED=true
ACCOUNT_SERVICE_BASEURL=https://admin:supersecret@ubuntu.internal.kujianet.com:8888/accounts-service/api
